@font-face {
    font-family: 'DIN Pro';
    src: url('/fonts/DINPro-Light.eot');
    src: url('/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DINPro-Light.woff') format('woff'),
    url('/fonts/DINPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


html{
    background-color: #F7F5FA;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F7F5FA;
}

.text--orange{
    color:#F47821 !important;
}

.section_1{
    padding: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    &__title{
        font-family: 'DIN Pro';
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        letter-spacing: -0.02em;
        
        color: #222222;
        margin: 0;
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;

        color: #4A4556;
        margin-top: 24px;
    }

    &__btn{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        position: relative;
        z-index: 2;
        text-decoration: none;
    }

    &__btn .icon{
        
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn img{
        height: 14px;
        width: 14px;
    }
    &__btn::before{
        position: absolute;
        content: "";
        background-color: #F9F9F9;
        border-radius: 54px;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all 0.3s ease;
    }
    &__btn:hover::before{
        width: 100%;
    }

    &__btn span{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        color: #222222;
        margin-left: -8px;
        padding-right: 30px;
    }

}

.section_2{
    height: auto;

    img{
        height: auto;
        width: 100%;
        min-height: 200px;
        max-height: 600px;
        object-fit: cover;
    }
}


.section_3{
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        transform: translateY(-100px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #fff;
        max-width: 972px;

        div{
            padding-top: 50px;
            padding-bottom: 61px;
            padding-right: 60px;
            padding-left: 60px;
            border: 1px solid #EDEDED;
            .title{
                font-family: 'DIN Pro';
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                
                color: #F47821;
            }
            .text{
                font-family: 'DIN Pro';
                font-size: 24px;
                line-height: 30px;
                letter-spacing: -0.03em;
                
                color: #222222;
            }
        }
    }
}


.section_4{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;

    &__content{
        max-width: 773px;
        width: 100%;

        .title{
            font-family: 'DIN Pro';
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            letter-spacing: -0.02em;
    
            color: #222222;
        }
        .text{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            
            color: #4E4D53;
        }
    }
}

.section_5{
    padding: 120px 135px;
    &__title{
        display: block;
        width: 100%;
        font-family: 'DIN Pro';
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: -0.02em;
        text-align: center;
        
        color: #000000;
    }
    &__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        div{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            max-width: 326px;
            margin-top: 60px;

            img{
                width: 52px;
                height: 52px;
                margin-bottom: 30px;
            }
            .title{
                font-family: DIN Pro;
                font-size: 20px;
                line-height: 25px;

                color: #000000;
                margin-bottom: 22px;
            }
            hr{
                all: unset;
                display: block;
                width: 24px;
                height: 2px;
                left: 135px;
                top: 2622px;

                background: #F47821;
                margin-bottom: 27px;
            }
            .text{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;

                color: #4E4D53;
                margin: 0;
            }
        }
    }
    
}

.section_6{
    padding: 100px;
    background: #161616;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title{
        display: block;
        width: 100%;
        font-family: 'DIN Pro';
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        letter-spacing: -0.02em;
        text-align: center;
        
        color: #ffffff;
    }

    &__content{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 575px;

        ol{
            counter-reset: myCounter;
            width: 100%;
            margin: 0;
            padding: 0;

            li{
                width: 100%;
                margin-bottom: 48px;
                position: relative;
                list-style: none;

                .title{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-family: 'DIN Pro';
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: -0.01em;
                    height: 64px;

                    color: #FFFFFF;
                }
                input{
                    all: unset;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 35px;
                    letter-spacing: -0.01em;

                    background: transparent;
                    color: #FFFFFF;
                    padding-bottom: 12px;
                    padding-top: 7px;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #f7f8fa1a;

                    &.invalid {
                        border-color: red;
                    }

                    &::placeholder{
                        opacity: 0.3;
                    }
                }

                textarea{
                    all: unset;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 35px;
                    letter-spacing: -0.01em;

                    background: transparent;
                    color: #FFFFFF;
                    padding-bottom: 12px;
                    padding-top: 7px;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #f7f8fa1a;

                    &::placeholder{
                        opacity: 0.3;
                    }
                }
            }

            li:before {
                position: absolute;
                left: -92px;
                top: 0;

                counter-increment: myCounter;
                content:counter(myCounter);
                color: white;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                
                height: 64px;
                width: 64px;

                border: 1px solid #ffffff3b;
                border-radius: 50%;

                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                text-align: center;

                color: #F47821;
                transition: all 0.3s ease;

            }

            li:hover::before{
                background-color: #F47821;
                color: #161616;
            }
        }
    }
    &__btn{
        all: unset;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
        border-radius: 111px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #F47821;
        width: 100%;
        max-width: 575px;
        padding: 20px;
        text-align: center;
        border: none;

        transition: all 0.3s ease;
        &:hover{
            background: #d8d8d8;
            transform: scale(1.05);
        }
        &:active{
            background: #ffffff;
            transform: scale(0.98);
        }
    }
}



*{
    box-sizing: border-box !important;
}



@media screen and (max-width: 1024px) and (min-width: 640px){
    .section_1{
        &__title{
            font-family: 'DIN Pro';
            font-size: 21pt;
        }
    }
    .section_3{
        &__content{
            grid-template-columns: 1fr;
        }
    }
}


@media screen and (max-width: 639px){
    .section_1{
        padding-left: 10px;
        padding-right: 10px;
        &__title{
            font-family: 'DIN Pro';
            font-size: 21pt;
        }
    }
    .section_3{
        &__content{
            grid-template-columns: 1fr;
            max-width: 95%;
        }
    }
    .section_4{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_5{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_6{
        padding-left: 10px;
        padding-right: 10px;
    
        &__title{
            font-size: 21pt;
        }
    }
}